<div class="flex flex-col justify-center">
  <div class="flex flex-row justify-center flex-wrap my-10 gap-5 w-full">
    <img [src]="cat.img" class="w-1/2 rounded-md shadow-md object-cover" />
    <div class="flex flex-col justify-center gap-y-8">
      <h2 class="font-semibold text-4xl mb-5">{{ cat.name }}</h2>
      <div class="flex flex-row gap-3">
        <div class="flex flex-row gap-1 items-center">
          <img src="/assets/icons/gender.svg" class="w-8" />
          <p class="text-xl">{{ cat.gender }}</p>
        </div>
        <div class="flex flex-row gap-1 items-center">
          <img src="/assets/icons/breed.svg" class="w-8" />
          <p class="text-xl">{{ cat.breed }}</p>
        </div>
        <div class="flex flex-row gap-1 items-center">
          <img src="/assets/icons/age.svg" class="w-9" />
          <p class="text-xl">{{ cat.age }}</p>
        </div>
      </div>
      <div class="flex gap-5 justify-center">
        <div class="flex flex-col justify-center gap-4">
          <p class="text-xl">Child Friendly</p>
          <p class="text-xl">Dog Friendly</p>
          <p class="text-xl">Adaptability</p>
          <p class="text-xl">Energy Level</p>
          <p class="text-xl">Health Issues</p>
          <p class="text-xl">Intelligence</p>
        </div>
        <div class="flex flex-col justify-center gap-5">
          <p><progress [value]="breed.child_friendly" max="5"></progress></p>
          <p><progress [value]="breed.dog_friendly" max="5"></progress></p>
          <p><progress [value]="breed.adaptability" max="5"></progress></p>
          <p><progress [value]="breed.energy_level" max="5"></progress></p>
          <p><progress [value]="breed.health_issues" max="5"></progress></p>
          <p><progress [value]="breed.intelligence" max="5"></progress></p>
        </div>
      </div>

      <button
        (click)="onClick()"
        class="bg-main px-4 py-2 rounded-md shadow-sm text-xl tracking-wide font-semibold"
      >
        Adopt
      </button>
    </div>
  </div>
  <app-map
    [cats]="[cat]"
    [center]="cat.location"
    (catSelected)="catSelected($event)"
    class="h-[500px]"
  ></app-map>
</div>
