<div class="flex flex-col justify-center">
  <app-map [cats]="catsList" (catSelected)="catSelected($event)" class="h-[500px]"></app-map>
  <div
    class="m-10 xl:m-20 grid grid-cols-1 gap-5 md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4"
  >
    <app-cat-card *ngFor="let cat of catsList" [cat]="cat"></app-cat-card>
  </div>
  <button (click)="onLoadMore()" *ngIf="loadMore" class="bg-main hover:bg-[#E28775] rounded-md shadow-md px-3 py-2 self-center mb-10" > Load More</button>
  <app-footer></app-footer>
</div>
