<div
  class="flex flex-col justify-center items-center gap-5 bg-[#323e51] text-white text-2xl px-16 py-20"
>
  <h1 class="text-3xl mb-5">Menu</h1>

  <div mat-dialog-actions>
    <div class="flex flex-col justify-center gap-y-2">
      <a
        class="focus:bg-[#243650] rounded-md px-4 py-2"
        routerLink="/"
        mat-dialog-close
        >Home</a
      >
      <a
        class="focus:bg-[#243650] rounded-md px-4 py-2"
        routerLink="/cats"
        mat-dialog-close
        >Adopt Cats</a
      >
      <a
        class="focus:bg-[#243650] rounded-md px-4 py-2"
        routerLink="/breeds"
        mat-dialog-close
        >Breeds</a
      >
      <a
        class="focus:bg-[#243650] rounded-md px-4 py-2"
        routerLink="/about"
        mat-dialog-close
        >About us</a
      >
      <a
        class="focus:bg-[#243650] rounded-md px-4 py-2"
        routerLink="/donate"
        mat-dialog-close
        >Donate</a
      >
      
    </div>
  </div>
  <button mat-dialog-close class="self-center mt-5">
    <img src="/assets/icons/cross.svg" class="w-10"/>
  </button>
</div>
