<nav class="sticky top-0 flex flex-row z-10 w-full h-20 bg-[#323e51] text-white text-xl shadow-lg">
  <a routerLink="/" class="ml-10 md:ml-16 z-10 w-44 ">
    <img
      src="/assets/cat-logo.svg"
      class="shadow-lg rounded-b-md object-cover w-full "
    />
  </a>
  <div
    class="hidden w-full md:flex justify-end items-center flex-wrap gap-x-8 md:pr-20 p-y-8"
  >
    <a class="hover:bg-[#243650] focus:bg-[#243650] rounded-md hover:shadow-sm px-4 py-2" routerLink="/">Home</a>
    <a class="hover:bg-[#243650] focus:bg-[#243650] rounded-md hover:shadow-sm px-4 py-2" routerLink="/cats">Adopt Cats</a>
    <a class="hover:bg-[#243650] focus:bg-[#243650] rounded-md hover:shadow-sm px-4 py-2" routerLink="/breeds">Breeds</a>
    <a class="hover:bg-[#243650] focus:bg-[#243650] rounded-md hover:shadow-sm px-4 py-2" routerLink="/about">About us</a>
    <a class="hover:bg-[#243650] focus:bg-[#243650] rounded-md hover:shadow-sm px-4 py-2" routerLink="/donate">Donate</a>
  </div>
  <div class="md:hidden w-full flex justify-end">
    <button class="w-14 p-1 mr-5 md:hidden" (click)="onClick()">
      <img src="/assets/icons/menu.svg" />
    </button>
  </div>
</nav>

