<nav class="sticky top-0 flex flex-row z-10 w-full h-20 bg-[#323e51] text-white text-xl">
  <a routerLink="/" class="ml-10 md:ml-16 z-10 w-44 ">
    <img
      src="/assets/cat-logo.svg"
      class="shadow-lg rounded-b-md object-cover w-full "
    />
  </a>
  <div
    class="hidden w-full md:flex justify-end items-center flex-wrap gap-x-8 md:pr-20 p-y-8"
  >
    <a routerLink="/">Home</a>
    <a routerLink="/cats">Adopt Cats</a>
    <a routerLink="/breeds">Breeds</a>
    <a routerLink="/about">About us</a>
    <a routerLink="/donate">Donate</a>
  </div>
  <div class="md:hidden w-full flex justify-end">
    <button class="w-20 p-4 md:hidden">
      <img src="/assets/icons/menu.svg" />
    </button>
  </div>
</nav>
