<div
  [style.backgroundImage]="
    'linear-gradient(to bottom,rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.8)),url(' +
    heroImg +
    ')'
  "
  class="relative w-full h-screen bg-cover bg-center z-0 flex flex-col justify-center items-center gap-y-8 text-white text-center"
>
  <h1 class="font-semibold text-white text-5xl p-5 tracking-widest">
    Finding forever Homes for Cats
  </h1>
  <p class="text-xl -mt-5 p-5">
    <span class="tracking-wider text-2xl font-semibold">We Rescue Cats</span> is
    a no-kill shelter that rescues and cares for homeless pets.
  </p>
  <div class="flex gap-5 justify-center">
    <a
      routerLink="/cats"
      class="bg-main hover:bg-[#E28775] active:bg-[#E28775] px-4 py-2 text-2xl font-medium shadow-md rounded-md"
    >
      Find my Cat
    </a>
    <a
      routerLink="/donate"
      class="bg-main hover:bg-[#E28775] active:bg-[#E28775] px-4 py-2 text-2xl font-medium shadow-md rounded-md"
    >
      Donate
  </a>
  </div>
  <a href="#here" class="absolute bottom-24 animate-bounce  "><img src="/assets/icons/arrow-down.svg" class="w-10" /></a>
</div>
<app-home-adoption id="here"></app-home-adoption>
<app-home-breeds></app-home-breeds>
<app-footer></app-footer>
